<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
{% load static %}
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
<meta name="title" content="Appointment Booking">
<title>Appointment Booking</title>
	
<!--Font-->
<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">

<!--Material icons-->
<link rel="stylesheet" href="{% static 'common/library/material-design-iconic-font/css/material-design-iconic-font.min.css' %}">

<!--bootstrap-->
<link rel="stylesheet" href="{% static 'common/library/bootstrap-4.4.1-dist/css/bootstrap.min.css' %}">

<!--select-->
<link rel="stylesheet" href="{% static 'common/library/select2-4.0.13/dist/css/select2.min.css' %}">

<!--datepicker-->
<link rel="stylesheet" href="{% static 'common/library/air-datepicker-master/dist/css/datepicker.min.css' %}">

<!--Additional styling-->
<link rel="stylesheet" href="{% static 'common/component.css' %}">
</head>

<body>

<!--main content-->
<main class="d-flex min-vh-100">
  <div class="card uneek-wizard-card">
    <div class="card-body"> 
      
      <!--main content-->
      <form id="example-form" autocomplete="off" action="" method="post" novalidate>
		  
        <div id="wizard"> 
        
        
        
        
        
        
        
        
           
          <!--step 2 steps-content-->
          <h3>
            <div class="media">
              <div class="uneek-wizard-step-icon"> <i class="zmdi zmdi-hospital"></i> </div>
              <div class="media-body">
                <h5 class="uneek-wizard-step-title">Evento</h5>
                <p class="uneek-wizard-step-subtitle">Selecciona el evento para el que quieres entradas</p>
              </div>
            </div>
          </h3>
			
          <!--step 2 body-->
          <section>
            <div class="brand-wrapper"> <img src="{% static 'common/images/logo.svg' %}" alt="logo" class="logo"> </div>
            <div class="row mb-3">
              <div class="col-md-3 section-heading">Selecciona evento</div>
              <div class="col-md-9 errorblock"></div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="category">Entradas</label>
                <select id="category" name="category" data-bind="select2:{} , options: togaMakers, value: selectedCategory,optionsValue:'text', optionsText : 'text', optionsCaption : 'Selecciona Evento'" required>
                </select>
              </div>
              <div class="form-group col-md-6">
                <label for="service">Número de entradas</label>
                <select id="service" name="service" data-bind="select2:{} ,options: togaServices, value: selectedService, optionsValue:'text', optionsText : 'text', optionsCaption : 'Selecciona número de Entradas', enable : togaServices" required>
                </select>
              </div>
            </div>
          
            <p class="card-footer-text">Si tienes dudas contáctanos por instagram @entradasfisicas</p>
          </section>
          
        
          
          <!--step 1 steps-content-->
          <h3>
            <div class="media">
              <div class="uneek-wizard-step-icon"> <i class="zmdi zmdi-assignment"></i> </div>
              <div class="media-body">
                <h5 class="uneek-wizard-step-title">Appointment</h5>
                <p class="uneek-wizard-step-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </h3>
			
          <!--step 1 body-->
          <section> 
            <!--header logo-->
            <div class="brand-wrapper"> <img src="../common/images/logo.svg" alt="logo" class="logo"> </div>
            <div class="row">
              <div class="col-xl-6"> 
                <!--heading step 1-->
                <div class="row mb-3">
                  <div class="col-md-7 section-heading">Tus datos</div>
                  <div class="col-md-5 errorblock"></div>
                </div>
                
                <!--form fields-->
                <div class="row">
                  <div class="col-md-6 form-group">
                    <label for="fname" class="sr-only">Nombre</label>
                    <input type="text" name="fname" id="fname" class="form-control" placeholder="Nombre" required>
                  </div>
                  <div class="col-md-6 form-group">
                    <label for="lname" class="sr-only">Apellidos</label>
                    <input type="text" name="lname" id="lname" class="form-control" placeholder="Apellidos" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pnumber" class="sr-only">Teléfono</label>
                  <input type="tel" pattern="[67][0-9]{8}" name="pnumber" id="pnumber" class="form-control" placeholder="Ej: 611111111" required>
                </div>
                <div class="form-group">
                  <label for="email" class="sr-only">Email</label>
                  <input type="email" name="email" id="email" class="form-control" placeholder="Email" required>
                </div>
              </div>
              
              <!--image step 1-->
              <div class="col-xl-6 d-none d-xl-block"> <img src="../common/images/step1.svg" alt="appointment" class="img-fluid"> </div>
            </div>
            
            <!--card footer step 1-->
            <p class="card-footer-text">¿Sabías que...? ¿Cuando completes el formulario te llegará un whatsapp automáticamente? :)</p>
          </section>
       
			
       
          
          <!--step 4 steps-content-->
          <h3>
            <div class="media">
              <div class="uneek-wizard-step-icon"> <i class="zmdi zmdi-check-all"></i> </div>
              <div class="media-body">
                <h5 class="uneek-wizard-step-title">Review</h5>
                <p class="uneek-wizard-step-subtitle">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
              </div>
            </div>
          </h3>
			
          <!--step 4 body-->
          <section>
            <div class="brand-wrapper"> <img src="../common/images/logo.svg" alt="logo" class="logo"> </div>
            <div class="row">
              <div class="col-xl-6"> 
                
                <!--input data review-->
                <div id="FormSummary">
                  <div class="row mb-3">
                    <div class="col-md-5 section-heading">Confirmar datos</div>
                    <div class="col-md-7 errorblock"></div>
                  </div>
                  <h6 class="font-weight-bold"> Tus datos</h6>
                  <p class="mb-0">Nombre : <span id="summaryfname"></span> <span id="summarylname"></span></p>
                  <p class="mb-0">Teléfono : <span id="summarypnumber"></span></p>
                  <p class="mb-0">Email : <span id="summaryemail"></span></p>
                  <h6 class="font-weight-bold mt-3"> Entradas</h6>
                  <p class="mb-0">Evento : <span id="summarycategory"></span></p>
                  <p class="mb-0">Número de entradas : <span id="summaryservice"></span></p>
                  
                  <br>
                </div>
              </div>
              <div class="col-xl-6 d-none d-xl-block"> <img src="../common/images/step4.svg" alt="booking" class="img-fluid"> </div>
            </div>
            <p class="mb-0">!Te enviaremos un WhatsApp automáticamente para confirmar tu reserva de entradas!</p>
            <br>
            <div class="custom-control custom-checkbox mb-4">
              <input type="checkbox" class="custom-control-input" name="tnc" id="tnc">
              <label class="custom-control-label" for="tnc">Acepto los términos y condiciones.</label>
            </div>
          </section>
			
        </div>
		  
      </form>
		
    </div>
  </div>
</main>

<!--jquery library--> 
<script type="text/javascript" src="{% static 'common/library/jquery3.5.1.min.js' %}"></script> 

<!--validation library--> 
<script type="text/javascript" src="{% static 'common/library/jquery-validation/dist/jquery.validate.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'common/library/jquery-validation/dist/additional-methods.min.js' %}"></script> 

<!--bootstrap library--> 
<script type="text/javascript" src="{% static 'common/library/bootstrap-4.4.1-dist/js/bootstrap.min.js' %}"></script> 
	
<!--steps library--> 
<script type="text/javascript" src="{% static 'common/library/jquery.steps.js' %}"></script> 
	
<!--datepicker library--> 
<script type="text/javascript" src="{% static 'common/library/air-datepicker-master/dist/js/datepicker.min.js' %}"></script> 
<script type="text/javascript" src="{% static 'common/library/air-datepicker-master/dist/js/i18n/datepicker.en.js' %}"></script> 
	
<!--select library--> 
<script type="text/javascript" src="{% static 'common/library/select2-4.0.13/dist/js/select2.min.js' %}"></script> 

<!--library for cascading select--> 
<script type="text/javascript" src="{% static 'common/library/knockout-min.js' %}"></script> 
	
<!--custom JS-->
<script type="text/javascript" src="{% static 'entradas/spreadsheet-js.js' %}"></script> 
<script type="text/javascript" src="{% static 'common/main.js' %}"></script>
	
</body>
</html>
